body {
  text-align: center;
  font-family: helvetica;
  font-size: 20;
  color: #cccccc;
  background-color: #222222;
}

#title {
  font-size:40;
}

#audio {
  text-align: center;
}

#control {
  text-align: center;
}

#specgram {
  text-align: center;
}

.bar rect { fill: #ccc; }
.axis path { fill: none; stroke: #cccccc;}
.axis line { stroke: #cccccc; }
.axis text { font-size: small; fill: #cccccc; }

path.specgram {
  fill: none; stroke: #3b6; stroke-width: 3;
}
