<!DOCTYPE HTML>
<html lang="en">
<head>
  <meta charset="utf-8" >
  <script src="https://d3js.org/d3.v3.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'/>
  <script src="https://code.jquery.com/jquery-3.0.0.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="{{ url_for( 'static', filename='./showranks.js' )}}"></script>
  <script type="text/javascript" src="{{ url_for( 'static', filename='./utils.js' )}}"></script>
  <script type="text/javascript" src="{{ url_for( 'static', filename='./fartscroll.js' )}}"></script>
  <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='./styles.css')}}" />
  <title>Jokester</title>
</head>
<body>
  <h1 class="text-center">Welcome to the Joke Retriever <span style="color: hsl(50,80%,50%);">V3</span></h1>
  <div class="form-group">
    <label for="text">Search for a joke in our collection!</label>
    <!-- <input type="text" class="form-control" id="query">
    <button onclick="retrieveJokes()">Get Jokes!</button> -->
    <input type="text" class="form-control" id="query" placeholder="Enter a joke or topic here!">

    <button id="filter_button">Show Advanced Search</button>
    <div id="opt_filter">
      <label for="text">Enter a query to filter the results by!</label>
      <input type="text" class="form-control" id="opt_query" placeholder="Enter a filter query here!">
    </div>
    <input type="checkbox" id="nsfw" value="wantNSFW">
    <label for="nsfw">Allow NSFW</label>
    <button id="search_button" onclick="retrieveJokes()">Get Jokes!</button>
    <!-- <div class="suggestions">
      <b>Query Suggestions:</b>
      <ul>
        {% for suggestion in suggestions %}
          <li>
            {{suggestion}}
          </li>
        {% endfor %}
      </ul>
    </div> -->
  </div>
  <div class="suggestions">
    <b>Query Suggestions:</b>
    <ul>
      &bull;
      {% for suggestion in suggestions %}
        <li>
          {{suggestion}} &bull;
        </li>
      {% endfor %}
    </ul>
  </div>
  <div class="container">
    <table>
      <thead>

      </thead>
      <tbody id="results-view">
      </tbody>
    </table>
  </div>
</body>
</html>
