body{
	background-image: url("house_brick_tile.jpg");
	background-repeat: repeat;
	background-color: rgba(0,0,0,0.5);
}

h1{
	color: hsl(190,80%,50%);
	font-weight: bolder;
	text-shadow: #000 3px 4px 0;
	font-size: 32pt;
	font-family: "Comic Sans MS", cursive, sans-serif;
}

button{
	margin-top: 10px;
	margin-right: 5px;
	border: 2px solid black;
	background-color: hsl(190,80%,50%);
	float: right;
}

button:hover{
	background-color: hsl(50,90%,60%);
}

#nsfw{
	margin-left: 5px;
	margin-top: 10px;
}

td,th,tr{
	border-right: none;
	border-left: none;
}

.form-group{
	/*opacity: 0.9;*/
	display: block;
	margin-right: auto;
	margin-left: auto;
	background-color: hsl(0,0%,95%);
	padding: 10px;
	width: 85%;
	max-width: 700px;
	border-bottom: 2px solid hsl(0,0%,80%);
}

.container{
	/*opacity: 0.9;*/
	background-color: hsl(0,0%,98%);
	padding-top: 10px;
	/*margin-top: -15px;*/
	display: block;
	margin-right: auto;
	margin-left: auto;
	width: 85%;
	max-width: 700px;
	/*border-top: 2px solid hsl(0,0%,80%);*/
}

.suggestions{
	background-color: hsl(0,0%,98%);
	padding-top: 10px;
	margin-top: -15px;	
	border-bottom: 2px solid hsl(0,0%,80%);
	width: 85%;
	max-width: 700px;
	margin-right: auto;
	margin-left: auto;
	display: flex;
	padding: 10px;
}

.suggestions ul {
	list-style-type: disc;
}

.suggestions li {
	display: inline;
}

.results{
	cursor: pointer;
	-webkit-transform: rotateY(-180deg);
	transform: rotateY(-180deg);
	-webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
	border: 2px solid black;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	margin-top: 10px;
	margin-bottom: 10px;
	/*min-height: 175px;*/
	height: auto;
}

.results:hover{
	background-color: hsl(0,0%,90%);
}

.flip{
	-webkit-transform: rotateY(180deg);
	transform: rotateY(180deg);
	-webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

.question{
	text-align: left;
	font-size: 16pt;
	-webkit-transform: rotateY(180deg);
	transform: rotateY(180deg);
}

.answer{
	text-align: left;
	font-size: 12pt;
	-webkit-transform: rotateY(-180deg);
	transform: rotateY(-180deg);
}

.results .metadata{
	text-align: right;
	-webkit-transform: rotateY(180deg);
	transform: rotateY(180deg);
}

.results .metadata .flip{
	text-align: right;
	-webkit-transform: rotateY(-180deg);
	transform: rotateY(-180deg);
}

.metadata li{
	display: inline;
}
